body {
    min-height: 100vh;
    margin: 0 auto;
    /* padding: 1em 1em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: lightcyan;
    font-family: 'Gajraj One', cursive;
    font-size: 16px;
    text-align: center;
}

header, footer {
    width: 100%;
    height: 100px;
    background: lightcyan;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}

header {
    margin: 20px 0px 0px 0px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

nav, section, aside {
    width: 100%;
    flex-basis: 25%;
    background: black;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
  }

nav {
    margin: 20px 10px 20px 20px;
}

section {
    flex-grow: 1;
    margin: 20px 10px 20px 10px;
}

aside {
    margin: 20px 20px 20px 10px;
}

footer {
    height: 50px;
    margin: 0px 0px 20px 0px;
}

.gameboard {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 12px;
    background-color: white;
  }
  
.cell {
    background-color:black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    text-align: center;
  }


h1 {
    margin: 15px 0px 5px 0px;
}

.emphasis {
    font-size: 1.2em;
    font-style: italic;
    margin: 0px;
}

@media screen and (max-width: 600px){
    main {
      flex-direction: column;
    }
    
    section {
      order: 1;
    }
  }