body {
    min-height: 100vh;
    margin: 0 auto;
    /* padding: 1em 1em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gajraj One', cursive;
    font-size: 16px;
    text-align: center;
}

header, footer {
    width: 100%;
    height: 100px;
    background: lightpink;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

nav, section, aside {
    width: 100%;
    flex-basis: 25%;
    background: hotpink;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
  }

section {
    flex-grow: 1;
  }

footer {
    height: 150px;
}

h1 {
    margin: 15px 0px 5px 0px;
}

.emphasis {
    font-size: 1.2em;
    font-style: italic;
    margin: 0px;
}

@media screen and (max-width: 600px){
    main {
      flex-direction: column;
    }
    
    section {
      order: 1;
    }
  }